@import "../GlobalStyles/vars";
@import "../GlobalStyles/mixins";

.label-margin{
  margin-top: 16px;
}

.svg-icons-restore{
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.step-new-pass{

  input{
    padding-left: 30px !important;
  }
}