@import "../GlobalStyles/vars";
@import "../GlobalStyles/mixins";

.contacts{

  .logo{
    width: 261px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 16px auto;

    @include r-min(768){
      width: 610px;
      align-items: center;
      justify-content: center;
    }

    .img{
      min-width: 54px;
      height: 54px;

      @include r(768){
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
      }

      @include r-min(768){
        width: 190px;
        height: auto;
        margin-right: 30px;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .text{
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #0581BC;

      @include r-min(768){
        font-size: 32px;
        line-height: 40px;
        width: auto;
      }
    }
  }

  .line, .phones, .content p:first-of-type, u{
    margin: 0 auto;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #2E384D;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    width: 100%;

    .icon{
      min-width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
    }
  }

  .phones{
    .phone-link{
      color: #0052A4;
      text-decoration-line: underline;
    }

    .phone{
      display: flex;

      @include r(768){
        flex-direction: column;
      }
    }
  }

  .line{
    display: flex;
  }

  .contact__wrapper, .content p:first-of-type, p:nth-of-type(2), u{
    border-bottom: 1px solid #E4E8F0;
    display: block;
  }

  .content{

    br{
      display: none;
    }

    p:first-of-type{
      display: flex;
      border-top: 1px solid #E4E8F0;

      strong{
        width: 80%;
      }

      &:before{
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        background: url('../../assets/icons/geo.svg') no-repeat center center/ contain;
      }
    }

    p:nth-of-type(2){
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 16px 0;

      &:before{
        content: '';
        display: block;
        width: 21px;
        height: 24px;
        margin-left: 1px;
        margin-right: 12px;
        background: url('../../assets/icons/email.svg') no-repeat center center/ contain;
      }
    }

    ul{
      line-height: 24px;
      color: #2E384D;
      padding-top: 16px;
      padding-bottom: 16px;
      position: relative;
      padding-left: 32px;

      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 18px;
        width: 17px;
        height: 20px;
        margin-left: 3px;
        margin-right: 12px;
        background: url('../../assets/icons/phone-contact.svg') no-repeat center center/ contain;
      }
    }
  }
}

