@import "../GlobalStyles/vars";
@import "../GlobalStyles/mixins";

.menu-dispute{
  width: 100%;
  margin: 0 auto;

  ul{

    li{

      &:first-child{
        padding-top: 0;
      }
    }
  }

  a{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #E4E8F0;

    .menu-dispute__link{
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: #2E384D;
    }

    .icon{
      width: 24px;
      height: 24px;
    }
  }
}

.question-list{
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include r-min(768){
    padding-left: 16px;
    padding-right: 16px;
  }

  .plate-wrapper{
    margin-right: 0;
    margin-left: 0;

    &:first-child{
      margin-top: 0;
    }
  }

  .question{
    border: 1px solid #E4E8F0;
    margin-bottom: 16px;
    border-radius: 4px;
    position: relative;

    &.closed{
      cursor: pointer;

      &:after{
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        background: url("#");
        top: 20px;
        right: 8px;
      }
    }

    &.show{

      &:after{
        transform: rotate(180deg);
      }
    }

    .header{
      background: #EFF1F5;
      padding: 8px 16px;

      .theme{
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #2E384D;

        @include r-min(768){
          font-size: 24px;
          line-height: 28px;
        }
      }

      .dates{
        display: flex;
      }

      .date{
        padding: 0;
        background: none;
        font-size: 14px;
        line-height: 20px;
        color: #2E384D;
        margin-top: 4px;

        &.start{
          margin-right: 6px;
        }
      }
    }

    .question__description{
      padding: 16px;
      font-size: 16px;
      line-height: 24px;
      color: #2E384D;
    }

    .more{
      padding: 8px 16px 16px 16px;
      font-size: 16px;
      line-height: 24px;
      color: #2E384D;

      .sub-title{
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
      }

      .text{
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
      }
    }

    .members{

      .sub-title{
        margin-top: 24px;
        margin-bottom: 8px;
      }

      .member{
        display: flex;
      }
    }
  }
}

.info{
  width: 100%;
  margin: 0 auto;

  .title{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .text{
    font-size: 16px;
    line-height: 24px;
  }
}