$c-main: #002B60;
$c-accent: #0052A4;

$c-overlay: #002B60;
$c-icon: #BFC5D2;
$c-not-active-icon: #E4E8F0;;
$c-text-content: #2E384D;
$c-small-text: #9A9B9C;
$c-success: #14CF00;
$c-error: #F8000C;
$c-attention: #FD9600;