@import "../globalStyles/vars";
@import "../globalStyles/mixins";

.line{
  flex: 1;
  margin: 0 16px;
  height: 1px;
  background: #BFC5D2;
}

.boit-info{

  .text{
    font-size: 16px;
    line-height: 24px;
    color: #2E384D;
    margin-top: 20px;
  }

  .title-wrapper {
    margin-top: 0;

    button{
      background: none;
      position: relative;

      .btn-action{
        @include transite(all);

        &:hover{
          cursor: pointer;
          background: #00AEEF;
          border: 1px solid #00AEEF;
          color: #fff;

          svg path{
            stroke: #fff;
          }
        }
      }
    }
  }
}

.additionalText{
  margin-top: 24px;

  .data{
    padding: 24px;

    label{
      margin-bottom: 0;
    }
  }

  .btns{
    margin-bottom: 18px;
  }
}

.add-document{
  display: flex;
  align-items: center;
  margin: 24px 0;
  justify-content: space-between;

  .name,
  .document-container{
      display: flex;
      flex-direction: column;

      span{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #2E384D;
        margin-bottom: 8px;
      }

    input{
      border: 1px solid #E4E8F0;
      border-radius: 4px;
      justify-content: space-between;
      padding: 10px 0 10px 12px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .document-container{
    margin-left: 16px;
  }

  .name{
    flex: 1;

  }

  .document{
    margin-bottom: 0;
    min-width: 250px;
  }

  .add-file{
    height: 44px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    background: #002F6C;
    padding: 12px 16px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 16px;
  }
}

.document{
  display: flex;
  border: 1px solid #E4E8F0;
  border-radius: 4px;
  justify-content: space-between;
  margin-bottom: 16px;

  .placeholder{
    font-size: 16px;
    line-height: 24px;
    color: #2E384D;
    padding: 10px 10px 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .title{
      text-overflow: ellipsis;
      max-width: 70%;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }
  }
}

.orders{
  margin-bottom: 24px;

  h2{
    margin-bottom: 16px;
  }

  .search{
    margin-bottom: 16px;
  }
}

.orders-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li{
    width: calc(50% - 8px);
    justify-content: space-between;
  }
}

.ppos-list{
  //margin-top: 24px;
  //margin-bottom: 24px;

  h2{
    margin-bottom: 16px;
  }
}

.icons__wrapper{
  display: flex;

  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #E4E8F0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    @include transite(all);

    &:hover{
      background-color: #00AEEF;

      svg path,
      svg line{
        stroke: #fff;
      }
    }
  }

  svg{
    display: block;
  }
}

.council{

  .title-wrapper{
    margin-bottom: 32px;

    a{
      padding: 0;
      margin: 0;
      background: none;
      color: #2E384D;
    }
  }

  .plate-wrapper{
    margin-top: 24px;

    .edit__wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;

      .line{
        margin-left: 0;
      }

      a{
        color: #2E384D;
      }
    }
  }

  .btn-action{
    @include transite(all);

    &:hover{
      background: #00AEEF;
      border: 1px solid #00AEEF;
      color: #fff;
      cursor: pointer;

      .icon{
        svg path{
          stroke: #fff;
        }
      }
    }
  }
}

.opo-list__wrapper{
  margin: 24px 0;

  h2{
    margin: 16px 0;
  }
}