@import "../../Views/globalStyles/vars";
@import "../../Views/globalStyles/mixins";

.sidebar{
  width: 224px;
  color: #fff;
  overflow-y: auto;
  flex-shrink: 0;
  background: $c-main;

  .profile{
    border-bottom: 1px solid $c-accent;
    text-align: center;
    font-size: 12px;
    line-height: 18px;

    .role{
      color: #BFC5D2;
    }

    .name{
      font-size: 16px;
      line-height: 22px;
    }

    .email{
      color: #00AEEF;
      margin-bottom: 16px;
    }

    .abbr, .avatart{
      width: 100px;
      height: 100px;
      margin: 62px auto 8px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    .abbr{
      background-color: #0052a4;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }


  .main-menu{

    li{
      height: 56px;
      display: flex;
      align-items: center;
      position: relative;


      &:hover,
      &.is-active{
        background: #0052A4;
        @include transite(all);

        svg path{
          fill: #fff;
        }

        a{
          color: #fff;
        }

        .counter{
          background: #00AEEF;
          @include transite(all)
        }
      }

      &.is-active{
        a{

          &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background: #00AEEF;
          }
        }
      }

      a{
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        padding-left: 25px;
        align-items: center;
        color: #BFC5D2;

        .icon{
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 16px;
        }

        .counter{
          position: absolute;
          right: 16px;
          background: #0052A4;
          border-radius: 10px;
          color: #fff;
          padding: 3px 6px;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}