@import "../GlobalStyles/vars";
@import "../GlobalStyles/mixins";

.search-component{
  width: 100%;
  margin: 0 auto;

  .search__input{
    width: 100%;
    height: 42px;
    margin: 0 auto 24px auto;
    font-size: 14px;
    line-height: 20px;
    color: #9A9B9C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    background: url("/assets/images/icons/search.svg") no-repeat 6px center;
    border: 1px solid #E4E8F0;
    border-radius: 4px;

    @include r-min(768){
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.laws__wrapper{

  @include r-min(1200){
    width: 928px;
    align-self: center;
  }
}

.laws-container{
  width: 100%;
  margin: 0 auto;

  .title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #2E384D;
    text-align: center;
    text-transform: uppercase;

    @include r-min(768){
      font-size: 24px;
      line-height: 28px;
    }
  }

  .subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2E384D;
    margin: 8px 0;
  }

  .info{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2E384D;
    margin-bottom: 16px;

    @include r-min(768){
      font-size: 16px;
      line-height: 24px;
    }
  }

  .laws{
    height: 60vh;

    .row-title{
      position: relative;
      cursor: pointer;
      padding: 16px;
      border-bottom: 1px solid #E4E8F0;
      display: flex;
      align-items: center;

      @include r-min(768){
        font-size: 16px;
        line-height: 24px;
      }

      &:hover{
        color: $c-accent;
      }

      & a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #2E384D;
        text-decoration: none;

        &:hover{
          color: #00AEEF;
        }

      }

      svg{
        margin-right: 16px;
      }

    }

    .icon{
      position: absolute;
      width: 24px;
      height: 24px;
      background: url("/assets/images/icons/down.svg") no-repeat center center;
      top: 8px;
      right: 8px;

      display: none;

      &.is-open{
        top: 6px;
        transform: rotate(180deg) !important;
      }
    }

    >.row{
      font-size: 14px;
      line-height: 20px;
      position: relative;

      >.row-title{
        width: 100%;
        padding: 8px;
        //background: #01579B;
        //color: #fff;

        @include r(768){
          padding-right: 30px;
        }

        @include r-min(768){
          font-size: 16px;
          line-height: 24px;
        }

        &:hover{
          color: $c-accent;
          text-decoration: underline;
        }
      }

      >.row{

        &:nth-child(2n+1){
          >.row-title{
            background: #fff
          }
        }

        >.row-title{
          padding: 8px;
          padding-right: 20px;
          background: rgba(0, 47, 108, 0.08);
          font-size: 14px;
          line-height: 20px;
          color: #2E384D;

          @include r-min(768){
            font-size: 16px;
            line-height: 24px;
          }
        }

        >.row{
          padding: 8px 24px 8px 24px;
          color: #2E384D;

          &:active{
            background: #00AEEF;
            color: #fff;
          }

          .icon{
            display: none;
          }
        }
      }
    }
  }


}

.law{
  width: 100%;
  margin: 0 auto;

  .title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #2E384D;
    text-align: center;

    @include r-min(768){
      font-size: 20px;
      line-height: 24px;
    }
  }

  .text{
    font-size: 16px;
    line-height: 24px;
    color: #2E384D;
    margin-top: 16px;
    margin-bottom: 32px;

    @include r-min(768){
      font-size: 16px;
      line-height: 24px;
    }

    h1{
      display: none;
    }
  }
}

.input-search{
  position: relative;
  display: flex;
  align-items: center;

}